*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: Roboto;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100vw;
    height: 100px;
    background-color: #2aaed3;
}
.cabecalho{
   max-width: 1140px;
   height: 100px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {

    height: 100px;
    padding: 15px;
}
.logo img{
    height: 100%;
}
.menu ul{
    display: flex;
}
.menu li a{
    padding: 20px;
    color: #fff;
}
.conteudo{
    min-height: 500px;
    display: flex;
}
.navul{
    width: 100px;
    height: 500px;
    padding: 10px;
    float: left;
    background-color: #f5f7f7;
}

.navul li a{
    padding: 15px;
    float: left;
    font-size: 15px;
    margin: -5px;
    color: #333;
}
.navul li a:hover{
    background-color: aqua;
    border-bottom: #fff 1px solid;
}
.navul a{
    margin-top: 50px;
}
.rodape{
    background-color: #6f6f6f;
    width: 100%;
    height: 40px;
}
.rodape h1{
    max-width: 1140px;
    height: 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: auto;
}
section{
    width: 100%
}
.menu-oper{
    display: none;
}
.menuMobile{
    width: 40px;
    margin-top: -3.5em;
    height: 40px;
    border: 0;
    color: #fff;
    outline: 0;
    cursor: pointer;
    margin-left: 15px;
}

/*table*/
@media(min-width: 450px) and (max-width:800px){

    .logo{
        padding-left: 35px;
    }
    .navul{
        display: none;
    }
    .menu-oper{
        display: block;
    }
    .menu ul{
        flex-direction: column;
     }
}
/*mobil*/
@media (max-width:450px){
    .logo{
        padding-left: 35px;
    }
    .menu-oper{
        display: block;
    }
    .menu ul{
        flex-direction: column;
     }
     .navul{
        display: none;
    }
}
@media(max-width:750px)
{
    
}
